DT_COMPAT_ZMK_BEHAVIOR_SWITCH_KEY := zmk,behavior-switch-key
config ZMK_BEHAVIOR_SWITCH_KEY
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_SWITCH_KEY))

DT_COMPAT_ZMK_BEHAVIOR_SWITCH_KEY_SET_PRIORITY := zmk,behavior-switch-key-set-priority
config ZMK_BEHAVIOR_SWITCH_KEY_SET_PRIORITY
    bool
    default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_SWITCH_KEY_SET_PRIORITY))
